<html>

    <body>
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/login/">safeCollab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/login/">Home <span class="sr-only">(current)</span></a></li>
        {% if user.is_authenticated %}
        <li><a href="/private_messages">Messages</a></li>
          <li><a href="/reports">Reports</a></li>
        <li class="dropdown">
          <a href="/login/groups" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groups <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/login/groups">Make Group</a></li>
            <li><a href="/login/">Your Groups</a></li>

          </ul>
        </li>

        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}
            <li><a href="/login/add_staffManager">Add Site Manager</a></li>
            <li><a href="/login/manage">Manage Accounts</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li><a href="/login/logout">Logout</a></li>
        {% else %}
        <li><a href="/login/login_page">Login</a></li>
        <li><a href="/login/register">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        {% if user.is_staff %}
        {% if done %}
        <p>Site Manager successfully added! Return <a href="/login/">Home</a></p>
        {% else %}
        <h1>Add Site Manager</h1>

        <form id="staff_form" method="post" action="/login/add_staffManager/">
            {% csrf_token %}
            {{ staff_form.as_p }}


            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add" />

        </form>
        {% endif %}
        {% else %}
            <p>You are not authorized to access this page. Please go back and login. <a href='/login'>Go Back</a></p>
        {% endif %}
    </body>

</html>