<!DOCTYPE html>
<html>
    <head>
        <title>safeCollab</title>
    </head>

    <body>
        {% if done %}
        <p>You have successfully filled out the form</p>
        {% else %}
			<strong>You have been added automatically. Add more collaborators.</strong><br>

        <form id="user_form" method="post" action="/login/groups/" enctype="multipart/form-data">

            {% csrf_token %}
            {{ groupings_form.as_p }}

            <input type="submit" name="submit" value="Create Group" />
        </form>
        {% endif %}
    </body>

</html>
