<!DOCTYPE html>
<html>

    <head>
        <title>safeCollab </title>

    </head>

 <body>
        {% if user.is_authenticated %}
        {% if groups %}
        <h1>{{ groups.name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No reports currently in group.</strong><br><br>
            {% endif %}
            <form id="form" method="post" action="/login/group/{{ groups.id }}/add_member/">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Add Users" /><br>
            </form>
            {% if user.is_staff %}
            <form id="delete_userform" method="post" action="/login/group/{{ groups.id }}/delete_member/">
            {% csrf_token %}

            <input type="submit" name="submit" value="Delete Users">
            </form>
            {% endif %}
            <!--<br><br><input id = "addGMem" type="button" value="Add User"/>-->

        {% else %}
            The specified group {{ group_name }} does not exist!
        {% endif %}
        <br><br><br>
        <strong>Members</strong>
  
            <ul>
                {% for groupmember in groupmembers %}
                <li>{{ groupmember.username }}</li>
                {% endfor %}
            </ul>
        {%  else %}
            You are not logged in!
        {% endif %}
    </body>
    </body>
</html>

