<!DOCTYPE html>
<html>
    <head>
        <!-- Is anyone getting tired of repeatedly entering the header over and over?? -->
        <title>safeCollab</title>
    </head>

    <body>
        <h1>Login to safeCollab</h1>

        <form id="login_form" method="post" action="/login/login_page/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br /><br>
            Password: <input type="password" name="password" value="" size="50" />
            <br /><br>

            <input type="submit" value="Submit" />
        </form>

    </body>
</html>