<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">

	<title>safeCollab</title>

	<!-- Bootstrap core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Custom styles for this template -->

	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>


<body>
	<div class="path col-md-12">
  		<ol class="breadcrumb">
        {% for folder in path %}
			 <li><a href="/reports/folder/{{folder.id}}">{{ folder.title }}</a></li>
        {% endfor %}
        <li class="active">{{ pwd.title }}</li>
		  </ol>
  	</div>
  	<div class="folders col-md-offset-1 col-md-10">

		<form method='POST'>
			{% csrf_token %}
				<input type="text" name="searchKey" value="" size="50" />
				<input type="submit" value="Search" /><!--onclick="closeWindow();"/> -->
		</form>
	</div>
<br>

<div class="path col-md-12">
	<h5>Matching reports: </h5>
</div>

<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  	<div class="halfPanel panel panel-default col-md-offset-1 col-md-5">
   	<div class="halfPanelContents col-md-11">
   		{% if not reportWithSearchTitle %}
   			<h5>There are no results.</h5>
   		{% endif %}
		{% for file in reportWithSearchTitle %}
	    	<a href="/reports/{{file.id}}">
	    		<div class="media folder">
	    			<div class="media-left">
	    				<input type="checkbox" name="checkedFiles" value="{{ file.id }}" aria-label="...">
	    			</div>
	    			<div class="media-body">
	    				<span class="media-object glyphicon glyphicon-save-file"></span>
	    					<h4 class="media-heading">{{file.title}}</h4>
	    			</div>
	    		</div>
	    	</a>
	       {% endfor %}
	</div>
	</div>
</form>

<div class="path col-md-12">
	<h5>Other results: </h5>
</div>
<div class="path col-md-12">
	<h6>Matching keywords: </h6>
</div>


<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  	<div class="halfPanel panel panel-default col-md-offset-1 col-md-5">
   	<div class="halfPanelContents col-md-11">
   	   	{% if not reportWithMatchingTags %}
   			<h5>There are no results.</h5>
   		{% endif %}
		{% for file in reportWithMatchingTags %}
	    	<a href="/reports/{{file.id}}">
	    		<div class="media folder">
	    			<div class="media-left">
	    				<input type="checkbox" name="checkedFiles" value="{{ file.id }}" aria-label="...">
	    			</div>
	    			<div class="media-body">
	    				<span class="media-object glyphicon glyphicon-save-file"></span>
	    					<h4 class="media-heading">{{file.title}}</h4>
	    					
	    			</div>
	    		</div>
	    	</a>
	    	<h5 class="media-heading">Keywords: {{file.keywords}}</h5>
	       {% endfor %}
	</div>
	</div>
</form>

<div class="path col-md-12">
	<h6>Matching summary: </h6>
</div>

<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  	<div class="halfPanel panel panel-default col-md-offset-1 col-md-5">
   	<div class="halfPanelContents col-md-11">
   		{% if not reportWithMatchingSummary %}
   			<h5>There are no results.</h5>
   		{% endif %}
		{% for file in reportWithMatchingSummary %}
	    	<a href="/reports/{{file.id}}">
	    		<div class="media folder">
	    			<div class="media-left">
	    				<input type="checkbox" name="checkedFiles" value="{{ file.id }}" aria-label="...">
	    			</div>
	    			<div class="media-body">
	    				<span class="media-object glyphicon glyphicon-save-file"></span>
	    					<h4 class="media-heading">{{file.title}}</h4>
	    					
	    			</div>
	    		</div>
	    	</a>
	    	<h5 class="media-heading">Summary: {{file.shortDescription}}</h5>
	       {% endfor %}
	</div>
	</div>
</form>

<div class="path col-md-12">
	<h6>Matching description: </h6>
</div>

<form method='POST' enctype="multipart/form-data">
    {% csrf_token %}
  	<div class="halfPanel panel panel-default col-md-offset-1 col-md-5">
   	<div class="halfPanelContents col-md-11">
   	   	{% if not reportWithMatchingDescription %}
   			<h5>There are no results.</h5>
   		{% endif %}
		{% for file in reportWithMatchingDescription %}
	    	<a href="/reports/{{file.id}}">
	    		<div class="media folder">
	    			<div class="media-left">
	    				<input type="checkbox" name="checkedFiles" value="{{ file.id }}" aria-label="...">
	    			</div>
	    			<div class="media-body">
	    				<span class="media-object glyphicon glyphicon-save-file"></span>
	    					<h4 class="media-heading">{{file.title}}</h4>
	    					
	    			</div>
	    		</div>
	    	</a>
	    	<h5 class="media-heading">Description: {{file.longDescription}}</h5>
	       {% endfor %}
	</div>
	</div>
</form>

<style type="text/css">
body{
	background-color: white;
}
.contents{
	background-color: white;
	border-radius: 5px;
	min-height: 400px;
	padding-top: 10px;
}
.folders{
  padding-top: 10px;
}
.folder{
	padding-top: 10px;
	padding-left: 10px;
	background-color: #f5f5f5;
	border-radius: 5px;
	margin-bottom: 10px; 
}
.report{
	padding-top: 10px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: #f5f5f5;
  margin-bottom: 10px; 
}

</style>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->

</body>
</html>