<!DOCTYPE html>
<html>

    <head>
	<img src="../../static/logo.png">
        <title>safeCollab Login Page</title>
    </head>

    <body>
        {% if user.is_authenticated %}
        <h1>Hello {{ user.username }}, welcome to safeCollab!</h1>
        {% else %}
        <h1>Hello, welcome to safeCollab!</h1>
        {% endif %}

        <!--<b>Please Login:</b>
        <p>Username: <input type="text" id="username"></></p>
        <p>Password: <input type="text" id="pass"></></p>

        <input type="submit" value="Submit"></> 
          {% if categories %}
            <ul>
                {% for category in categories %}
                 Following line changed to add an HTML hyperlink 
                <li><a href="/login/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %} 
       <a href="/login/login_page/">Login</a> <br>
       <a href="/login/register/">Register Here</a><br />
       <a href="/login/add_category/">Add a New Category</a><br /> -->

        {% if user.is_authenticated %}
        <a href="/login/restricted/">Restricted Page</a><br />
        <a href="/login/add_category/">Add a New Category</a><br />
        <a href="/login/add_page/">Add a New Page</a><br />
        <a href="/login/logout/">Logout</a><br />
        {% else %}
        <a href="/login/login_page/">Login</a><br />
        <a href="/login/register/">Register Here</a><br />
        {% endif %}


       
       
    </body>

</html>
